body,
html,
#root,
.App {
  height: 100%;
  margin: 0;
  scroll-behavior: smooth;
  overflow: hidden;
}

::-webkit-scrollbar {
  display: none;
}

::selection {
  background-color: #ff91003c; /* Cor de fundo personalizada para o texto selecionado */
}

.cursor-dot {
  position: fixed;
  top: -1%;
  left: -0.5%;
  width: 15px;
  height: 15px;
  background-color: #ff9100;
  border-radius: 50%;
  pointer-events: none;
  transition: transform 0.1s ease-out, width 0.2s ease, height 0.2s ease;
  z-index: 10000;
}

.cursor-dot.expand {
  top: -1.4%;
  left: -0.6%;
  background-color: transparent;
  border: 5px solid #1b1f3b; /* Borda para criar o anel */
  border-radius: 50%; /* Torna o círculo arredondado */
  width: 20px;
  height: 20px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: none;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
  margin-inline: 50px;
}

.logo-img {
  width: 50px;
  height: 50px;
}

.nav-buttons {
  display: flex;
  gap: 10px;
  padding-right: 100px;
}

.nav-buttons button {
  width: 50px;
  height: 50px;
}

.sound-button,
.hamburger-button {
  background: #ff9100;
  border-radius: 10px;
  font-size: 1.5em;
  cursor: pointer;
  border: none;
  padding: 5px;
}

.fas {
  color: white;
}

.title-overlay {
  position: absolute;
  top: 30%;
  left: 10%;
  color: white;
  font-size: 5em;
  z-index: 2;
  line-height: 1;
}

.subtitle-overlay {
  position: absolute;
  top: 50%;
  left: 10%;
  color: white;
  font-size: 2em;
  z-index: 2;
  line-height: 1;
}

.cta-button {
  position: absolute;
  top: 65%;
  left: 10%;
  z-index: 2;
  padding: 10px 20px;
  background-color: #ff9100;
  color: white;
  border: none;
  border-radius: 25px;
  font-size: 1.2em;
  font-weight: bold;
  cursor: pointer;
}

.sections {
  display: flex;
  flex-direction: column;
  transition: transform 0.8s ease-in-out;
}

.section {
  position: relative;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section.active {
  opacity: 1;
}

.canvas-container {
  width: 100%;
  height: 100%;
}

.side-menu {
  position: fixed;
  top: 0;
  right: -1000px;
  width: 500px;
  height: 100%;
  background-color: white;
  color: #1b1f3b;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 50px 50px 70px;
  transition: right 0.3s ease;
  z-index: 1;
}

.options-side {
  margin-block: 120px;
}

.side-menu.open {
  right: 0;
}

.side-menu .close-button {
  position: absolute;
  top: 20px;
  right: 20px;
  background: none;
  border: none;
  color: #1b1f3b;
  font-size: 2rem;
  cursor: pointer;
}

.side-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.side-menu ul li {
  margin: 20px 0;
}

.side-menu ul li a {
  color: #1b1f3b;
  text-decoration: none;
  font-size: 2rem;
  font-weight:625;
  display: flex;
  align-items: center;
}

.side-menu ul li a::before {
  content: "•";
  color: #ff9100;
  font-size: 3rem;
  margin-right: 10px;
}

.social-icons {
  display: flex;
  gap: 15px;
  margin-top: 30px;
}

.social-icons i:hover {
  cursor: pointer;
  color: #ff9100;
  transform: scale(1.2);
}

.social-icons i {
  font-size: 1.7rem;
  color: #6c757d;
  transition: .125s ease-in;
}

.footer-text {
  margin-top: 20px;
  font-size: 0.9rem;
  color: #6c757d;
  border-top: 1px solid #e0e0e0;
  padding-top: 15px;
  text-align: left;
  width: 100%;
}

.hamburger {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #ff9100;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  z-index: 1300;
}

.hamburger .bar {
  width: 30px;
  height: 5px;
  background-color: #fff;
  border-radius: 5px;
  transition: all 0.3s ease;
}

.hamburger .bar:not(:last-child) {
  margin-bottom: 5px;
}

.hamburger.open .bar:nth-child(1) {
  transform: rotate(45deg) translate(7px, 7px);
}

.hamburger.open .bar:nth-child(2) {
  opacity: 0;
}

.hamburger.open .bar:nth-child(3) {
  transform: rotate(-45deg) translate(7px, -7px);
}